@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700|Open+Sans:400,700);
/*
    Color scheme
    Orange  :   #f0523f
    Grey    :   #4c4c4c
*/
* {box-sizing: border-box}
html, body {padding: 0;margin: 0; font-size: 14px; font-family: 'Open Sans', sans-serif;color:#808080;}

h2 {font-weight: normal;color: #f0523f;}
a {color: #f0523f; text-decoration: none}
a:hover {text-decoration: underline;}

/* header */
header {background: #4c4c4c}
header nav {width: 1060px; margin:0 auto;font-family: 'Ubuntu', sans-serif;}
header h1 {padding: 0;margin: 0;display: inline-block;font-weight: normal;line-height: 102px}
header h1 img {float:left;margin: .5em;height: 75px;}
header a {color : #A8A8A8;text-decoration: none;padding: 0 .6em;}
header a:hover, header li.active a {color: #F4F4F4;text-decoration: none}
header ul.menu {display: inline-block;font-size: 1.2em;line-height: 74px;text-align: right;width: 66%;}
header li {display: inline-block;position: relative;}
header ul ul {display: none;position: absolute;top:3em;left:0;background: #4c4c4c;line-height: normal;padding: 0;border:1px solid #CCC;border-top:none;box-shadow: #474747 1px 1px 1px;}
header ul ul:before{content: ' ';border-bottom: 10px solid #777;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;position: absolute;left: 9px;top: -10px;}
header ul ul li {display: block;text-align: left;}
header ul ul a {padding: 0.5em 6em 0.5em 1em;display: block;font-size: .9em;}

/* Orange sub-nav */
.orangebox {background: #f0523f;}
.orangebox h2 {font-weight: normal;color: #FFF;font-size: 1.6em;padding: .3em 0;margin: 0;}
.orangebox ul {padding: 0 0 1em 0;	-moz-column-count:2;-webkit-column-count:2;-o-column-count:2;column-count:2;-moz-column-gap:20px;-webkit-column-gap:20px;-o-column-gap:20px;column-gap:20px;-webkit-column-rule-width:1px;-webkit-column-rule-color:#cbcefb;-webkit-column-rule-style:dotted;-moz-column-rule-width:1px;-moz-column-rule-color:#cbcefb;-moz-column-rule-style:dotted;-o-column-rule-width:1px;-o-column-rule-color:#cbcefb;-o-column-rule-style:dotted;column-rule-width:1px;column-rule-color:#cbcefb;column-rule-style:dotted;}
.orangebox li {color: #FFF;display: block;padding: .5em 0;}

.container {width: 1060px; margin: 0 auto}
