@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700|Open+Sans:400,700);
/*
    Color scheme
    Orange  :   #f0523f
    Grey    :   #4c4c4c
*/
* {box-sizing: border-box}
html, body {padding: 0;margin: 0; font-size: 14px; font-family: 'Open Sans', sans-serif;}
header {background: #4c4c4c}
header nav {width: 1060px; margin:0 auto;font-family: 'Ubuntu', sans-serif;}
header h1 {padding: 0;margin: 0;display: inline-block;font-weight: normal;line-height: 102px}
header h1 img {float:left;margin: .5em;height: 75px;}
header a {color : #A8A8A8;text-decoration: none;padding: 0 .6em;}
header a:hover {color: #F4F4F4;}
header ul.menu {display: inline-block;font-size: 1.2em;line-height: 74px;text-align: right;width: 66%;}
header li {display: inline-block;}
header ul ul {display: none;}
.orangebox {background: #f0523f;}
.orangebox h2 {font-weight: normal;color: #FFF;font-size: 2em;padding: 0;margin: 0;}
.container {width: 1060px; margin: 0 auto}
